.background{
    background-image: url(../../../assets/Images/banner.jpg);
    /* background-position: bottom; */
}
.font{
    font-family: 'Josefin Sans', sans-serif;
}
.image-container{
    padding-left: 60px;
    padding-top: 200px;
    padding-bottom: 200px;
}